
<nav class="navbar navbar-inverse" style="background-color: white;border-style: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <br>
      <a class="navbar-brand" href="http://127.0.0.1:3000/renterindex"><div class="logo" style="color: black;">REN<span style="color: #FF5733;">T</span>OGO</div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       
        <li><a href="http://127.0.0.1:3000/products/new" style="color: black;">Add Products</a></li>
        <li><a href="http://127.0.0.1:3000/products" style="color: black;">Your Products</a></li>
    
      </ul>
     
    </div>
  </div>
</nav>