<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:3000/renter">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:3000/products/new">Add New Product </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:3000/products">Show Your Product </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:3000/view">View Applications </a>
      </li>
      

    </ul>
  </div>
</nav>