<nav class="navbar navbar-inverse" style="background-color: white;border-style: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <br>
      <a class="navbar-brand" href="http://127.0.0.1:3000/renterindex"><div class="logo" style="color: black;">REN<span style="color: #FF5733;">T</span>OGO</div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:3000/renter" style="color: black;">Show All Products</a></li>
        <li><a href="http://127.0.0.1:3000/applications" style="color: black;">Applications</a></li>
        <li><a href="http://127.0.0.1:3000/rentershow" style="color: black;">Rental History</a></li>
        <li><a href="http://127.0.0.1:3000/paymenthistory" style="color: black;">Payments</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding: 2%;"><div class="cart" style="padding-right: 40%;">
      <% if account_signed_in?%>
        <%= button_to destroy_account_session_path,method: :delete  do %>
            <i class="i fa fa-user"></i>
        <%end%>
      <%end%></div>
      </ul>
    </div>
  </div>
</nav>