<%= render partial: "shared/navbar" %>
<center>
  <h1>Your Payment History</h1>
  <ul>
    <% @rentals.each do |rental| %>
    <div class="card">
      <%if rental.payment_history%>
        <%renter=Renter.find(rental.renter_id)%>
        Renter: <a href="/view-profile/<%= renter.id%>"><%=renter.account.name %></a><br>
        Amount: <%=rental.payment_history.amount%>
      <%end%>
    </div>
    <% end %>
  </ul>
</center>