* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat';
    font-size: 16px;
    overflow: visible;
  }
  select{
     margin-left: 1.2cm;background-color: rgba(0,0,0,0); border-style: none;font-size: large
  }
  input {
    margin-left: 1cm;
    background-color: rgba(0,0,0,0);

    font-size: large
  }
  
  ul {
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 5px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .logo {
    font-size: 40px;
  }
  
  .menu-links ul li {
    display: inline-block;
    padding-right: 20px;
  }
  
  .search,
  .cart {
    font-size: 20px;
  }
  
  .content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: -1;
  }
  
  .title {
    flex: 0 0 100%;
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .tagline {
    flex: 1;
    font-size: 30px;
    color: #999;
  }
  
  .pages {
    flex: 0;
    letter-spacing: 5px;
    color: #999;
  }
  
  .pages span {
    font-size: 60px;
    color: #000;
    font-weight: 600;
  }
  
  .more {
    flex: 1;
  }
  a{
    text-decoration: none;
    color: #000;
  }
  .more a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border-radius: 10px;
  }
  
  .desc {
    flex: 0 0 32%;
  }
  
  .desc p:nth-child(1) {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .desc p:nth-child(2) {
    line-height: 2;
  }
  
  .desc span {
    color: #FF5733 ;
  }
  
  .juice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }
  
  .juice img {
    animation: float 4s ease-in-out infinite;
    max-height: 600px;
  }
  .navbar a:hover{
    background-color: #FF5733;
    color: white;
  }
  @keyframes float {
    0% {
      transform: translate(-50%, -46%);
    }
    50% {
      transform: translate(-50%, -54%);
    }
    100% {
      transform: translate(-50%, -46%);
    }
  }
input{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}