<%= render partial: "shared/navbarrenter" %>
<center>
<h1>Your History</h1>
<ul>
  <% @rentals.each do |rental| %> 
    <div class="card">

      <%product=Product.find(rental.product_id)%>
      <li>
        <%= product.name %> <br>
        <%= product.rent%> <br>
        <% if rental.payment_history%>
       Bought
        <%else%>
        <%= link_to "Buy", payment_path(rental: rental,product: product)%>
        <%end%>
<br>
  
        </li>
  </div>
<br><br>
  <% end %>

</ul>
</center>